<% extra_main_classes 'dashboard', 'index-page' %>
<h2 class="index-page--title">Welcome</h2>

<% current_user.schedules.each do |schedule| %>
  <div><%= link_to schedule.title, schedule %></div>
<% end %>

<%= link_to "Start training", new_schedule_path, class: "small button success round" %>
<%= link_to "Create new training plan", new_training_plan_path, class: "small button round" %>
