<span data-role="duration"><i class="fa fa-clock-o"></i> <%= entry.duration_for_unit('min') %></span>
<span> | </span>
<span data-role="distance"><i class="fa fa-road"></i> <%= entry.distance_for_discipline %></span>
