<div id="join-pursue" class="hero">
  <h2 class="hero--intro">Stop chasing your tail</h2>

  <%= link_to "Start your Pursuit", new_user_registration_path, class: "button round large success hero--action" %>
</div>
